<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dialog Window</title>
    <link rel="stylesheet" href="../../../dist/output.css">
    <link rel="stylesheet" href="../../../node_modules/bootstrap-icons/font/bootstrap-icons.css">

    <style>
        .snapLay {
            display: grid;
            grid-column-gap: 3px;
            grid-row-gap: 3px
        }

        .snapLay:nth-child(1) {
            grid-template-columns: auto auto
        }

        .snapLay:nth-child(2) {
            grid-template-columns: auto auto auto
        }

        .snapLay:nth-child(2) .snapper:first-child {
            grid-column-end: span 2
        }

        .snapLay:nth-child(3) {
            grid-template-columns: auto auto auto
        }

        .snapLay:nth-child(4) {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto
        }

        .snapLay:nth-child(4) .snapper:first-child {
            grid-row: 1/span 2
        }

        .snapLay:nth-child(5) {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            grid-column-gap: 4px
        }

        .snapLay:nth-child(6) {
            grid-template-columns: auto auto auto auto auto auto auto
        }

        .snapLay:nth-child(6) .snapper {
            grid-column-end: span 2
        }

        .snapLay:nth-child(6) .snapper:nth-child(2) {
            grid-column: 3/span 3
        }



        .snapper {
            background: #e0e0e0;
            border: solid 1px #999;
        }

        .snapper:hover {
            background: #0067c0;
            border: solid 1px #0067c0;
        }
    </style>

</head>

<body>

    <div class="h-20 m-2">
        <button id="btn-open" class="bg-blue-400 rounded p-2 text-white hover:bg-blue-500">打开窗口</button>
  
        <div class="m-2">
            <div id="dialog-position-list"
                class="w-[260px] h-[130px] grid grid-cols-3 grid-rows-2 gap-x-2 gap-y-2 border p-2 bg-blue-100 shadow-md shadow-gray-300 rounded-md"
                data-dark="false">
                <div class="snapLay">
                    <div class="snapper" data-dim='{"width":"50%","height":"100%","top":0,"left":0}'
                        data-action="SETTINGS" data-payload="resize" style="border-radius: 4px 0px 0px 4px;"></div>
                    <div class="snapper" data-dim=' {"width":"50%","height":"100%","top":0,"left":"50%"}'
                        data-action="SETTINGS" data-payload="resize" style="border-radius: 0px 4px 4px 0px;"></div>
                </div>
                <div class="snapLay">
                    <div class="snapper" data-dim='{"width":"66%","height":"100%","top":0,"left":0}'
                        data-action="SETTINGS" data-payload="resize" style="border-radius: 4px 0px 0px 4px;"></div>
                    <div class="snapper" data-dim=' {"width":"34%","height":"100%","top":0,"left":"66%"}'
                        data-action="SETTINGS" data-payload="resize" style="border-radius: 0px 4px 4px 0px;"></div>
                </div>
                <div class="snapLay">
                    <div class="snapper" data-dim='{"width":"33%","height":"100%","top":0,"left":0}'
                        data-action="SETTINGS" data-payload="resize" style="border-radius: 4px 0px 0px 4px;"></div>
                    <div class="snapper" data-dim=' {"width":"34%","height":"100%","top":0,"left":"33%"}'
                        data-action="SETTINGS" data-payload="resize" style="border-radius: 0px;"></div>
                    <div class="snapper" data-dim='{"width":"33%","height":"100%","top":0,"left":"67%"}'
                        data-action="SETTINGS" data-payload="resize" style="border-radius: 0px 4px 4px 0px;"></div>
                </div>
                <div class="snapLay">
                    <div class="snapper" data-dim='{"width":"50%","height":"100%","top":0,"left":0}'
                        data-action="SETTINGS" data-payload="resize" style="border-radius: 4px 0px 0px 4px;"></div>
                    <div class="snapper" data-dim=' {"width":"50%","height":"50%","top":0,"left":"50%"}'
                        data-action="SETTINGS" data-payload="resize" style="border-radius: 0px 4px 0px 0px;"></div>
                    <div class="snapper" data-dim='{"width":"50%","height":"50%","top":"50%","left":"50%"}'
                        data-action="SETTINGS" data-payload="resize" style="border-radius: 0px 0px 4px;"></div>
                </div>
                <div class="snapLay">
                    <div class="snapper" data-dim='{"width":"50%","height":"50%","top":0,"left":0}'
                        data-action="SETTINGS" data-payload="resize" style="border-radius: 4px 0px 0px;"></div>
                    <div class="snapper" data-dim='{"width":"50%","height":"50%","top":0,"left":"50%"}'
                        data-action="SETTINGS" data-payload="resize" style="border-radius: 0px 4px 0px 0px;"></div>
                    <div class="snapper" data-dim='{"width":"50%","height":"50%","top":"50%","left":0}'
                        data-action="SETTINGS" data-payload="resize" style="border-radius: 0px 0px 0px 4px;"></div>
                    <div class="snapper" data-dim='{"width":"50%","height":"50%","top":"50%","left":"50%"}'
                        data-action="SETTINGS" data-payload="resize" style="border-radius: 0px 0px 4px;"></div>
                </div>
                <div class="snapLay">
                    <div class="snapper" data-dim='{"width":"25%","height":"100%","top":0,"left":0}'
                        data-action="SETTINGS" data-payload="resize" style="border-radius: 4px 0px 0px 4px;"></div>
                    <div class="snapper" data-dim='{"width":"50%","height":"100%","top":0,"left":"25%"}'
                        data-action="SETTINGS" data-payload="resize" style="border-radius: 0px;"></div>
                    <div class="snapper" data-dim='{"width":"25%","height":"100%","top":0,"left":"75%"}'
                        data-action="SETTINGS" data-payload="resize" style="border-radius: 0px 4px 4px 0px;"></div>
                </div>
            </div>

        </div>





    </div>





    <!-- Dialog Window -->
    <div id="dialog-window1" class="xin-dialog-window shadow-md shadow-gray-400"
        style="width: 600px; height: 430px; top: 200px; left: 320px;">

        <div class="toolbar">
            <div class="title">
                <div class="icon">
                    <i class="bi bi-gear-fill"></i>
                </div>
                <div class="text">
                    系统设置
                </div>
            </div>
            <div class="actbtns">
                <div class="icon">
                    <img src="../../assets/img/icon/minimize.png" alt="" width="12">
                </div>
                <div class="icon">
                    <img src="../../assets/img/icon/maxmin.png" alt="" width="12">
                </div>
                <div class="icon close">
                    <img src="../../assets/img/icon/close.png" alt="" width="12">
                </div>
            </div>
        </div>

        <div class="windowContent m-1">
            <div class="h-full win11Scroll nobtn bg-white p-2">
               


                <section style="background: #bcffbc;">
                    <h2 style="font-size: 26px; text-align: center;">岳阳楼记</h2>
                    <p style="clear: both;min-height: 1em;text-align: center;text-indent: 0em;">
                        <span style="color: rgb(2, 30, 170);"><strong><span></span></strong></span>
                    </p>
                    <p style="clear: both;min-height: 1em;text-indent: 0em;;text-align: center"><span
                            style="color: rgb(2, 30, 170);"><strong>原文</strong></span></p>
                    <p><br/></p>
                    <p style="clear: both;min-height: 1em;text-indent: 2em;"><span
                            style="text-indent: 2em;color: rgb(2, 30, 170); white-space: nowrap;">庆历四年春，滕子京谪守巴陵郡。越明年，政通人和，百废具兴，乃重修岳阳楼，增其旧制，刻唐贤今人诗赋于其上，属予作文以记之。</span>
                    </p>
                    <p style="clear: both;min-height: 1em;text-indent: 2em;"><span
                            style="text-indent: 2em;color: rgb(2, 30, 170);"><br></span></p>
                    <p style="clear: both;min-height: 1em;text-indent: 2em;"><span
                            style="color: rgb(2, 30, 170);">予观夫巴陵胜状，在洞庭一湖。衔远山，吞长江，浩浩汤汤，横无际涯，朝晖夕阴，气象万千，此则岳阳楼之大观也，前人之述备矣。然则北通巫峡，南极潇湘，迁客骚人，多会于此，览物之情，得无异乎？</span>
                    </p>
                    <p style="clear: both;min-height: 1em;text-indent: 2em;"><span style="color: rgb(2, 30, 170);"><br></span></p>
                    <p style="clear: both;min-height: 1em;text-indent: 2em;"><span
                            style="color: rgb(2, 30, 170);">若夫淫雨霏霏，连月不开，阴风怒号，浊浪排空，日星隐曜，山岳潜形，商旅不行，樯倾楫摧，薄暮冥冥，虎哮猿啼。登斯楼也，则有去国怀乡，忧谗畏讥，满目萧然，感极而悲者矣。</span>
                    </p>
                    <p style="clear: both;min-height: 1em;text-indent: 2em;"><span style="color: rgb(2, 30, 170);"><br></span></p>
                    <p style="clear: both;min-height: 1em;text-indent: 2em;"><span
                            style="color: rgb(2, 30, 170);">至若春和景明，波澜不惊，上下天光，一碧万顷，沙鸥翔集，锦鳞游泳，岸芷汀兰，郁郁青青。而或长烟一空，皓月千里，浮光跃金，静影沉璧，渔歌互答，此乐何极！登斯楼也，则有心旷神怡，宠辱偕忘，把酒临风，其喜洋洋者矣。</span>
                    </p>
                    <p style="clear: both;min-height: 1em;text-indent: 2em;"><span style="color: rgb(2, 30, 170);"><br></span></p>
                    <p style="clear: both;min-height: 1em;text-indent: 2em;"><span
                            style="color: rgb(2, 30, 170);">嗟夫！予尝求古仁人之心，或异二者之为，何哉？不以物喜，不以己悲，居庙堂之高则忧其民，处江湖之远则忧其君。是进亦忧，退亦忧。然则何时而乐耶？其必曰“先天下之忧而忧，后天下之乐而乐”乎！噫！微斯人，吾谁与归？时六年九月十五日。</span>
                    </p>
                    <p><br></p>
                    <section>
                        <p style="text-align: center;">
                            <strong style="text-align: center;">
                                <span style="color: rgb(0, 122, 170);">
                                    译文</span>
                            </strong>
                            <br>
                        </p>
                        <p><br></p>
                        <p
                            style="min-height: 1em;cursor: text;color: rgb(63, 62, 63);text-indent: 2em;">
                            <span
                                style="text-indent: 2em;color: rgb(0, 122, 170);">宋仁宗庆历四年的春天，滕子京被贬谪到巴陵做知州。到了第二年，巴陵郡政事通达百姓和顺，各种荒废的事业全都复兴了，于是再度修整岳阳楼，扩大其原有规模，在上面刻录唐朝贤人以及当代人的诗赋，嘱托我写文章来记述这件事。</span>
                        </p>
                        <p
                            style="margin: 0px;padding: 0px;outline: none 0px;max-width: 100%;box-sizing: border-box;overflow-wrap: break-word;clear: both;min-height: 1em;cursor: text;color: rgb(63, 62, 63);text-indent: 2em;">
                            <span style="text-indent: 2em;color: rgb(0, 122, 170);"><br></span></p>
                        <p style="clear: both;min-height: 1em;text-indent: 2em;"><span
                                style="color: rgb(0, 122, 170);">我看那巴陵郡的美景，就在洞庭湖的风光上。它包含远处的山峦，吞吐壮阔的长江，水势浩大，无边无际，早晚明暗变幻，景色千变万化，这就是岳阳楼雄伟壮丽的景象，前人的记述已经非常详尽了。这样，那么（从这里）向北可以通到巫峡，向南到达潇湘，被贬职的官员和多愁善感的文人，大多在这里聚会，他们游览景物而触发的感情，大概还是有所不同吧？</span>
                        </p>
                        <p style="clear: both;min-height: 1em;text-indent: 2em;"><span style="color: rgb(0, 122, 170);"><br></span>
                        </p>
                        <p style="clear: both;min-height: 1em;text-indent: 2em"><span
                                style="color: rgb(0, 122, 170)">那雨水连绵纷纷而下，接连数月不放晴，寒冷的风怒吼着，浑浊的浪潮冲击天空，太阳和星星都隐藏起光辉，高大的山形也隐没在阴云中，商人旅客无法通行，桅杆倒下，船桨折断，傍晚时分天色昏暗，猛虎长啸啼猿悲诉。登上这座楼，就油然生出离开国都怀念家乡，忧惧谗言与批评，触目萧条，感慨极深而悲伤的心情了。</span>
                        </p>
                        <p style="clear: both;min-height: 1em;text-indent: 2em"><span style="color: rgb(0, 122, 170)"><br></span>
                        </p>
                        <p style="clear: both;min-height: 1em;text-indent: 2em"><span
                                style="color: rgb(0, 122, 170)">到了春风和暖阳光明媚的时节，湖面平静水波不兴，天色与湖光上下呼应，一片碧绿广阔无际，沙洲上的鸥鸟时而飞翔时而歇息，美丽的鱼自由自在地游泳嬉戏，湖岸的香草和小洲上的兰花，茂盛而青翠。有时大片烟雾全部消散，明亮的月光一泻千里，浮动的光就像跳跃的金子，静静的月影像沉入水中的玉璧，渔夫的歌声一唱一和，这样的乐趣哪里会有穷尽啊！登上这座楼，就会产生心胸阔达神清气爽，荣耀和屈辱一齐忘掉，端着酒迎着风，那种喜气洋洋的感情了。</span>
                        </p>
                        <p style="clear: both;min-height: 1em;text-indent: 2em"><span style="color: rgb(0, 122, 170)"><br></span>
                        </p>
                        <p style="clear: both;min-height: 1em;text-indent: 2em"><span
                                style="color: rgb(0, 122, 170)">唉！我曾经探求古代品德高尚之人的心境，或许都不同于上述两种表现，为什么呢？（他们）不因外物和自己的处境而或喜或悲，处于高高的朝堂，就担忧那些人民，处在僻远的江湖，就为那国君担忧。这样进也忧虑，退也忧心。（既然）这样，那么究竟什么时候才能感到快乐呢？大概一定会说“在天下人忧之前先忧，在天下人乐之后才乐”！唉！如果没有这样的人，我（又）同谁一道呢？写作时间为庆历六年九月十五日。</span>
                        </p>
                    </section>
                </section>
            


            </div>
            
    
        </div>


        <div class="windowFooter justify-end">
            <div class="mr-2">
            <button id="btn-close" class="bg-gray-200 rounded p-2 hover:bg-gray-300">关闭窗口</button>
            <button id="btn-max" class="bg-green-200 rounded p-2 hover:bg-green-300">最大化</button>
        </div>
        </div>

    </div>


    <script>

        var btnOpen = document.querySelector('#btn-open');
        var btnClose = document.querySelector('#btn-close');

        var dlg = document.querySelector('.xin-dialog-window');


        btnOpen.addEventListener('click', (e) => {
            dlg.classList.remove('closing');
        });


        btnClose.addEventListener('click', (e) => {
            dlg.classList.add('closing');
        });

        document.querySelector('#dialog-position-list').addEventListener('click', (e) => {
            console.log(e);
            console.log(e.target.dataset.dim);
            var newpos = JSON.parse(e.target.dataset.dim);
            const dialogWin = document.querySelector('#dialog-window1');
            dialogWin.style.width = newpos.width;
            dialogWin.style.height = newpos.height;
            dialogWin.style.top = newpos.top;
            dialogWin.style.left = newpos.left;
        });

        document.querySelector('#btn-max').addEventListener('click', (e) => {
            const dialogWin = document.querySelector('#dialog-window1');
            dialogWin.style.width = '100%';
            dialogWin.style.height = '100%';
            dialogWin.style.top = 0;
            dialogWin.style.left = 0;
        })

    </script>

</body>

</html>