<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons</title>

    <link rel="stylesheet" href="../../../dist/output.css">

</head>
<body class="p-10">
    


    <p class="font-semibold my-2">Default</p>

    <button class="xin-btn xin-btn-primary">Primary</button>
    <button class="xin-btn xin-btn-secondary">secondary</button>
    <button class="xin-btn xin-btn-success">success</button>
    <button class="xin-btn xin-btn-info">info</button>
    <button class="xin-btn xin-btn-warning">warning</button>
    <button class="xin-btn xin-btn-danger">danger</button>
    <button class="xin-btn xin-btn-dark">dark</button>
    <button class="xin-btn xin-btn-light">light</button>


    <p class="font-semibold mt-6 mb-2">Rounded</p>

    <button class="xin-btn xin-btn-rounded xin-btn-primary">Primary</button>
    <button class="xin-btn xin-btn-rounded xin-btn-secondary">secondary</button>
    <button class="xin-btn xin-btn-rounded xin-btn-success">success</button>
    <button class="xin-btn xin-btn-rounded xin-btn-info">info</button>
    <button class="xin-btn xin-btn-rounded xin-btn-warning">warning</button>
    <button class="xin-btn xin-btn-rounded xin-btn-danger">danger</button>
    <button class="xin-btn xin-btn-rounded xin-btn-dark">dark</button>
    <button class="xin-btn xin-btn-rounded xin-btn-light">light</button>

</body>
</html>