<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scroll styles</title>
    <link rel="stylesheet" href="../../../dist/output.css">
    <style>
        .noscroll::-webkit-scrollbar {
            display: none
        }

        /* .win11Scroll::-webkit-scrollbar-track {
    background-color: beige;
} */
    </style>
</head>

<body>

    <div class="m-4">
        <h1>
            默认样式，鼠标移动到区域后，自动显示与隐藏
        </h1>
        <div class="bg-red-100 win11Scroll" style="width: 250px; height: 300px;">
            <div style="height: 500px;width: 400px; padding: 20px" class="bg-red-200 m-2">

                <p>怒发冲冠，</p>
                <p>凭栏处、潇潇雨歇。</p>
                <p>抬望眼，仰天长啸，壮怀激烈。</p>
                <p>三十功名尘与土，八千里路云和月。</p>
                <p>莫等闲，白了少年头，空悲切！</p>
                <p></p>
                <p>靖康耻，犹未雪。</p>
                <p>臣子恨，何时灭！</p>
                <p>驾长车，踏破贺兰山缺。</p>
                <p>壮志饥餐胡虏肉，笑谈渴饮匈奴血。</p>
                <p>待从头、收拾旧山河，朝天阙。</p>


            </div>
        </div>


        <h1>
            显示滚动条区域
        </h1>
        <div class="bg-red-100 win11Scroll show" style="width: 450px; height: 300px;">
            <div style="width: 500px; padding: 20px" class="bg-red-200 m-2">
                <p>
                    先帝创业未半而中道崩殂，今天下三分，益州疲弊，此诚危急存亡之秋也。然侍卫之臣不懈于内，忠志之士忘身于外者，盖追先帝之殊遇，欲报之于陛下也。诚宜开张圣听，以光先帝遗德，恢弘志士之气，不宜妄自菲薄，引喻失义，以塞忠谏之路也。
                </p>
                <p>宫中府中，俱为一体，陟罚臧否，不宜异同。若有作奸犯科及为忠善者，宜付有司论其刑赏，以昭陛下平明之理，不宜偏私，使内外异法也。</p>

                <p>侍中、侍郎郭攸之、费祎、董允等，此皆良实，志虑忠纯，是以先帝简拔以遗陛下。愚以为宫中之事，事无大小，悉以咨之，然后施行，必能裨补阙漏，有所广益。</p>

                <p>将军向宠，性行淑均，晓畅军事，试用于昔日，先帝称之曰能，是以众议举宠为督。愚以为营中之事，悉以咨之，必能使行阵和睦，优劣得所。</p>

                <p>亲贤臣，远小人，此先汉所以兴隆也；亲小人，远贤臣，此后汉所以倾颓也。先帝在时，每与臣论此事，未尝不叹息痛恨于桓、灵也。侍中、尚书、长史、参军，此悉贞良死节之臣，愿陛下亲之信之，则汉室之隆，可计日而待也。
                </p>

                <p>臣本布衣，躬耕于南阳，苟全性命于乱世，不求闻达于诸侯。先帝不以臣卑鄙，猥自枉屈，三顾臣于草庐之中，咨臣以当世之事，由是感激，遂许先帝以驱驰。后值倾覆，受任于败军之际，奉命于危难之间，尔来二十有一年矣。
                </p>

                <p>先帝知臣谨慎，故临崩寄臣以大事也。受命以来，夙夜忧叹，恐托付不效，以伤先帝之明，故五月渡泸，深入不毛。今南方已定，兵甲已足，当奖率三军，北定中原，庶竭驽钝，攘除奸凶，兴复汉室，还于旧都。此臣所以报先帝而忠陛下之职分也。至于斟酌损益，进尽忠言，则攸之、祎、允之任也。
                </p>

                <p>愿陛下托臣以讨贼兴复之效，不效，则治臣之罪，以告先帝之灵。若无兴德之言，则责攸之、祎、允等之慢，以彰其咎；陛下亦宜自谋，以咨诹善道，察纳雅言，深追先帝遗诏，臣不胜受恩感激。</p>

                <p>今当远离，临表涕零，不知所言。</p>


            </div>
        </div>

    </div>

    <section style="width: 800px; height: 600px;background: #bcffbc; padding-bottom: 20px; padding-right: 10px;" class="win11Scroll nobtn m-5">
        <h2 style="font-size: 26px; text-align: center;">岳阳楼记</h2>
        <p style="clear: both;min-height: 1em;text-align: center;text-indent: 0em;">
            <span style="color: rgb(2, 30, 170);"><strong><span></span></strong></span>
        </p>
        <p style="clear: both;min-height: 1em;text-indent: 0em;;text-align: center"><span
                style="color: rgb(2, 30, 170);"><strong>原文</strong></span></p>
        <p><br/></p>
        <p style="clear: both;min-height: 1em;text-indent: 2em;"><span
                style="text-indent: 2em;color: rgb(2, 30, 170); white-space: nowrap;">庆历四年春，滕子京谪守巴陵郡。越明年，政通人和，百废具兴，乃重修岳阳楼，增其旧制，刻唐贤今人诗赋于其上，属予作文以记之。</span>
        </p>
        <p style="clear: both;min-height: 1em;text-indent: 2em;"><span
                style="text-indent: 2em;color: rgb(2, 30, 170);"><br></span></p>
        <p style="clear: both;min-height: 1em;text-indent: 2em;"><span
                style="color: rgb(2, 30, 170);">予观夫巴陵胜状，在洞庭一湖。衔远山，吞长江，浩浩汤汤，横无际涯，朝晖夕阴，气象万千，此则岳阳楼之大观也，前人之述备矣。然则北通巫峡，南极潇湘，迁客骚人，多会于此，览物之情，得无异乎？</span>
        </p>
        <p style="clear: both;min-height: 1em;text-indent: 2em;"><span style="color: rgb(2, 30, 170);"><br></span></p>
        <p style="clear: both;min-height: 1em;text-indent: 2em;"><span
                style="color: rgb(2, 30, 170);">若夫淫雨霏霏，连月不开，阴风怒号，浊浪排空，日星隐曜，山岳潜形，商旅不行，樯倾楫摧，薄暮冥冥，虎哮猿啼。登斯楼也，则有去国怀乡，忧谗畏讥，满目萧然，感极而悲者矣。</span>
        </p>
        <p style="clear: both;min-height: 1em;text-indent: 2em;"><span style="color: rgb(2, 30, 170);"><br></span></p>
        <p style="clear: both;min-height: 1em;text-indent: 2em;"><span
                style="color: rgb(2, 30, 170);">至若春和景明，波澜不惊，上下天光，一碧万顷，沙鸥翔集，锦鳞游泳，岸芷汀兰，郁郁青青。而或长烟一空，皓月千里，浮光跃金，静影沉璧，渔歌互答，此乐何极！登斯楼也，则有心旷神怡，宠辱偕忘，把酒临风，其喜洋洋者矣。</span>
        </p>
        <p style="clear: both;min-height: 1em;text-indent: 2em;"><span style="color: rgb(2, 30, 170);"><br></span></p>
        <p style="clear: both;min-height: 1em;text-indent: 2em;"><span
                style="color: rgb(2, 30, 170);">嗟夫！予尝求古仁人之心，或异二者之为，何哉？不以物喜，不以己悲，居庙堂之高则忧其民，处江湖之远则忧其君。是进亦忧，退亦忧。然则何时而乐耶？其必曰“先天下之忧而忧，后天下之乐而乐”乎！噫！微斯人，吾谁与归？时六年九月十五日。</span>
        </p>
        <p><br></p>
        <section>
            <p style="text-align: center;">
                <strong style="text-align: center;">
                    <span style="color: rgb(0, 122, 170);">
                        译文</span>
                </strong>
                <br>
            </p>
            <p><br></p>
            <p
                style="min-height: 1em;cursor: text;color: rgb(63, 62, 63);text-indent: 2em;">
                <span
                    style="text-indent: 2em;color: rgb(0, 122, 170);">宋仁宗庆历四年的春天，滕子京被贬谪到巴陵做知州。到了第二年，巴陵郡政事通达百姓和顺，各种荒废的事业全都复兴了，于是再度修整岳阳楼，扩大其原有规模，在上面刻录唐朝贤人以及当代人的诗赋，嘱托我写文章来记述这件事。</span>
            </p>
            <p
                style="margin: 0px;padding: 0px;outline: none 0px;max-width: 100%;box-sizing: border-box;overflow-wrap: break-word;clear: both;min-height: 1em;cursor: text;color: rgb(63, 62, 63);text-indent: 2em;">
                <span style="text-indent: 2em;color: rgb(0, 122, 170);"><br></span></p>
            <p style="clear: both;min-height: 1em;text-indent: 2em;"><span
                    style="color: rgb(0, 122, 170);">我看那巴陵郡的美景，就在洞庭湖的风光上。它包含远处的山峦，吞吐壮阔的长江，水势浩大，无边无际，早晚明暗变幻，景色千变万化，这就是岳阳楼雄伟壮丽的景象，前人的记述已经非常详尽了。这样，那么（从这里）向北可以通到巫峡，向南到达潇湘，被贬职的官员和多愁善感的文人，大多在这里聚会，他们游览景物而触发的感情，大概还是有所不同吧？</span>
            </p>
            <p style="clear: both;min-height: 1em;text-indent: 2em;"><span style="color: rgb(0, 122, 170);"><br></span>
            </p>
            <p style="clear: both;min-height: 1em;text-indent: 2em"><span
                    style="color: rgb(0, 122, 170)">那雨水连绵纷纷而下，接连数月不放晴，寒冷的风怒吼着，浑浊的浪潮冲击天空，太阳和星星都隐藏起光辉，高大的山形也隐没在阴云中，商人旅客无法通行，桅杆倒下，船桨折断，傍晚时分天色昏暗，猛虎长啸啼猿悲诉。登上这座楼，就油然生出离开国都怀念家乡，忧惧谗言与批评，触目萧条，感慨极深而悲伤的心情了。</span>
            </p>
            <p style="clear: both;min-height: 1em;text-indent: 2em"><span style="color: rgb(0, 122, 170)"><br></span>
            </p>
            <p style="clear: both;min-height: 1em;text-indent: 2em"><span
                    style="color: rgb(0, 122, 170)">到了春风和暖阳光明媚的时节，湖面平静水波不兴，天色与湖光上下呼应，一片碧绿广阔无际，沙洲上的鸥鸟时而飞翔时而歇息，美丽的鱼自由自在地游泳嬉戏，湖岸的香草和小洲上的兰花，茂盛而青翠。有时大片烟雾全部消散，明亮的月光一泻千里，浮动的光就像跳跃的金子，静静的月影像沉入水中的玉璧，渔夫的歌声一唱一和，这样的乐趣哪里会有穷尽啊！登上这座楼，就会产生心胸阔达神清气爽，荣耀和屈辱一齐忘掉，端着酒迎着风，那种喜气洋洋的感情了。</span>
            </p>
            <p style="clear: both;min-height: 1em;text-indent: 2em"><span style="color: rgb(0, 122, 170)"><br></span>
            </p>
            <p style="clear: both;min-height: 1em;text-indent: 2em"><span
                    style="color: rgb(0, 122, 170)">唉！我曾经探求古代品德高尚之人的心境，或许都不同于上述两种表现，为什么呢？（他们）不因外物和自己的处境而或喜或悲，处于高高的朝堂，就担忧那些人民，处在僻远的江湖，就为那国君担忧。这样进也忧虑，退也忧心。（既然）这样，那么究竟什么时候才能感到快乐呢？大概一定会说“在天下人忧之前先忧，在天下人乐之后才乐”！唉！如果没有这样的人，我（又）同谁一道呢？写作时间为庆历六年九月十五日。</span>
            </p>
        </section>
    </section>

</body>

</html>