<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagination 分页条</title>
    <link rel="stylesheet" href="../../dist/output.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <style>
      
    </style>
</head>
<body class="p-3">
    <h1 class="text-xl font-semibold mb-3"> 样式一 </h1>
    <div class="xin-pagination pr-1">
        <div class="pagination-container">
            <ul class="pagination-contents">
                <li class="pagination-goto">
                    转到第<input type="number" value="20" class="pagination-goto_input">页
                </li>
                <li class="pagination-total mx-3">
                    1-20 / 200
                </li>
                <li class="pagination-list mr-2">
                    <select>
                        <option value="10">每页 10 条</option>
                        <option value="10">每页 20 条</option>
                        <option value="10">每页 30 条</option>
                        <option value="10">每页 50 条</option>
                        <option value="10">每页 100 条</option>
                    </select>
                </li>
                <li class="mr-1.5 pagination-action pagination-first pagination-disabled">
                    <i class="bi bi-chevron-bar-left"></i>
                </li>
                <li class="mr-1.5 pagination-action pagination-prev ">
                    <i class="bi bi-chevron-left"></i>
                </li>
                <li class="mr-1.5 pagination-action pagination-number">1</li>
                <li class="mr-1.5 pagination-action pagination-number">
                    <i class="bi bi-three-dots"></i>
                </li>
                <li class="mr-1.5 pagination-action pagination-number pagination-current">3</li>
                <li class="mr-1.5 pagination-action pagination-number">4</li>
                <li class="mr-1.5 pagination-action pagination-number">5</li>
                <li class="mr-1.5 pagination-action pagination-number">
                    <i class="bi bi-three-dots"></i>
                </li>
                <li class="mr-1.5 pagination-action pagination-number">20</li>
                <li class="mr-1.5 pagination-action pagination-next pagination-disabled"><i class="bi bi-chevron-right"></i></li>
                <li class="pagination-action pagination-last"><i class="bi bi-chevron-bar-right"></i></li>
            </ul>
        </div>
    </div>

    <h1 class="text-xl font-semibold my-3"> 样式二 </h1>
    <div class="xin-pagination left pl-1">
        <div class="pagination-container">
            <ul class="pagination-contents">
                <li class="mr-1.5 pagination-action pagination-first pagination-disabled">
                    <i class="bi bi-chevron-bar-left"></i>
                </li>
                <li class="mr-1.5 pagination-action pagination-prev ">
                    <i class="bi bi-chevron-left"></i>
                </li>
                <li class="mr-1.5 pagination-action pagination-number">1</li>
                <li class="mr-1.5 pagination-action pagination-number pagination-dots">
                    <i class="bi bi-three-dots"></i>
                </li>
                <li class="mr-1.5 pagination-action pagination-number pagination-current">3</li>
                <li class="mr-1.5 pagination-action pagination-number">4</li>
                <li class="mr-1.5 pagination-action pagination-number">5</li>
                <li class="mr-1.5 pagination-action pagination-number pagination-dots">
                    <i class="bi bi-three-dots"></i>
                </li>
                <li class="mr-1.5 pagination-action pagination-number">20</li>
                <li class="mr-1.5 pagination-action pagination-next pagination-disabled"><i class="bi bi-chevron-right"></i></li>
                <li class="mr-1.5 pagination-action pagination-last"><i class="bi bi-chevron-bar-right"></i></li>
                
                <li class="pagination-total ml-2">
                    1-20 / 200
                </li>
                <li class="pagination-list mx-3">
                    <select>
                        <option value="10">每页 10 条</option>
                        <option value="10">每页 20 条</option>
                        <option value="10">每页 30 条</option>
                        <option value="10">每页 50 条</option>
                        <option value="10">每页 100 条</option>
                    </select>
                </li>
                <li class="pagination-goto">
                    转到第<input type="number" value="20" class="pagination-goto_input">页
                </li>
            </ul>
        </div>
    </div>

    <h1 class="text-xl font-semibold my-3"> 样式三 </h1>
    <div class="xin-pagination left pl-1">
        <div class="pagination-container">
            <ul class="pagination-contents">
                <li class="pagination-list mr-3">
                    <select>
                        <option value="10">每页 10 条</option>
                        <option value="10">每页 20 条</option>
                        <option value="10">每页 30 条</option>
                        <option value="10">每页 50 条</option>
                        <option value="10">每页 100 条</option>
                    </select>
                </li>
                <li class="mr-1.5 pagination-action pagination-first pagination-disabled">
                    <i class="bi bi-chevron-bar-left"></i>
                </li>
                <li class="mr-1.5 pagination-action pagination-prev ">
                    <i class="bi bi-chevron-left"></i>
                </li>
                <li class="mr-1.5 pagination-action pagination-number">1</li>
                <li class="mr-1.5 pagination-action pagination-number pagination-dots">
                    <i class="bi bi-three-dots"></i>
                </li>
                <li class="mr-1.5 pagination-action pagination-number pagination-current">3</li>
                <li class="mr-1.5 pagination-action pagination-number">4</li>
                <li class="mr-1.5 pagination-action pagination-number">5</li>
                <li class="mr-1.5 pagination-action pagination-number pagination-dots">
                    <i class="bi bi-three-dots"></i>
                </li>
                <li class="mr-1.5 pagination-action pagination-number">20</li>
                <li class="mr-1.5 pagination-action pagination-next pagination-disabled"><i class="bi bi-chevron-right"></i></li>
                <li class="mr-1.5 pagination-action pagination-last"><i class="bi bi-chevron-bar-right"></i></li>
                
               
                <li class="pagination-goto ml-1.5 mr-3">
                    转到第<input type="number" value="20" class="pagination-goto_input">页
                </li>
                <li class="pagination-total">
                    1-20 / 200
                </li>
            </ul>
        </div>
    </div>


    <h1 class="text-xl font-semibold my-3"> 样式四 </h1>
    <div class="xin-pagination left pl-1">
        <div class="pagination-container">
            <ul class="pagination-contents">
                <li class="pagination-total mr-3">
                    1-20 / 200
                </li>
                <li class="pagination-list mr-2">
                    <select>
                        <option value="10">每页 10 条</option>
                        <option value="10">每页 20 条</option>
                        <option value="10">每页 30 条</option>
                        <option value="10">每页 50 条</option>
                        <option value="10">每页 100 条</option>
                    </select>
                </li>
                <li class="mr-1.5 pagination-action pagination-first pagination-disabled">
                    <i class="bi bi-chevron-bar-left"></i>
                </li>
                <li class="mr-1.5 pagination-action pagination-prev ">
                    <i class="bi bi-chevron-left"></i>
                </li>
                <li class="mr-1.5 pagination-action pagination-number">1</li>
                <li class="mr-1.5 pagination-action pagination-number pagination-dots">
                    <i class="bi bi-three-dots"></i>
                </li>
                <li class="mr-1.5 pagination-action pagination-number pagination-current">3</li>
                <li class="mr-1.5 pagination-action pagination-number">4</li>
                <li class="mr-1.5 pagination-action pagination-number">5</li>
                <li class="mr-1.5 pagination-action pagination-number pagination-dots">
                    <i class="bi bi-three-dots"></i>
                </li>
                <li class="mr-1.5 pagination-action pagination-number">20</li>
                <li class="mr-1.5 pagination-action pagination-next pagination-disabled"><i class="bi bi-chevron-right"></i></li>
                <li class="mr-1.5 pagination-action pagination-last"><i class="bi bi-chevron-bar-right"></i></li>
                
               
                <li class="pagination-goto ml-1.5 mr-3">
                    转到第<input type="number" value="20" class="pagination-goto_input">页
                </li>
            </ul>
        </div>
    </div>


    <h1 class="text-xl font-semibold my-3"> 样式五 </h1>
    <div class="xin-pagination left simple-mode pl-1">
        <div class="pagination-container">
            <ul class="pagination-contents">
                <li class="pagination-goto ml-1.5 mr-3">
                    转到第<input type="number" value="20" class="pagination-goto_input">页
                </li>
              
                <li class="pagination-list mr-2">
                    <select>
                        <option value="10">每页 10 条</option>
                        <option value="10">每页 20 条</option>
                        <option value="10">每页 30 条</option>
                        <option value="10">每页 50 条</option>
                        <option value="10">每页 100 条</option>
                    </select>
                </li>
                <li class="pagination-total mr-3">
                    1-20 / 200
                </li>
                <li class="mr-1.5 pagination-action pagination-first pagination-disabled">
                    <i class="bi bi-chevron-bar-left"></i>
                </li>
                <li class="mr-1.5 pagination-action pagination-prev ">
                    <i class="bi bi-chevron-left"></i>
                </li>
                <li class="mr-1.5 pagination-action pagination-next pagination-disabled"><i class="bi bi-chevron-right"></i></li>
                <li class="mr-1.5 pagination-action pagination-last"><i class="bi bi-chevron-bar-right"></i></li>
                
               
                
            </ul>
        </div>
    </div>

</body>
</html>