@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
.xin-btn {
  @apply px-4 py-2 rounded text-sm border-transparent border transition-all duration-150 ease-in-out;
}
.xin-btn.xin-btn-rounded {
  @apply rounded-2xl;
}
.xin-btn.xin-btn-primary {
  @apply text-white hover:bg-primary-hover bg-primary border-primary;
}
.xin-btn.xin-btn-secondary {
  @apply text-white hover:bg-secondary-hover bg-secondary border-secondary;
}
.xin-btn.xin-btn-success {
  @apply text-white hover:bg-success-hover bg-success border-success;
}
.xin-btn.xin-btn-info {
  @apply text-white hover:bg-info-hover bg-info border-info;
}
.xin-btn.xin-btn-warning {
  @apply text-white hover:bg-warning-hover bg-warning border-warning;
}
.xin-btn.xin-btn-danger {
  @apply text-white hover:bg-danger-hover bg-danger border-danger;
}
.xin-btn.xin-btn-dark {
  @apply text-white hover:bg-dark-hover bg-dark border-dark;
}
.xin-btn.xin-btn-light {
  @apply text-gray-600 hover:bg-light-hover bg-light border-light;
}

.grid-view {
  @apply flex flex-col h-full text-sm relative border border-transparent bg-white text-[13px];
  /** 斑马条纹，隔行变色 */
  /** 过滤行 */
}
.grid-view .grid-view_menu-btn {
  @apply absolute h-9 bg-zinc-100 right-0 z-10;
}
.grid-view.grid-view_border {
  @apply border-gray-300;
}
.grid-view.grid-view_column-border .grid-view_header.grid-view_header-hierarchy .grid-view_header-cell {
  @apply border-b  border-gray-300;
}
.grid-view.grid-view_column-border .grid-view_header .grid-view_header-cell {
  @apply border-gray-300;
}
.grid-view.grid-view_column-border .grid-view_header .grid-view_header-cell:last-child {
  border-right: 0;
}
.grid-view.grid-view_column-border .grid-view_filterrow .grid-view-cell:not(:last-child) {
  @apply border-gray-300;
}
.grid-view.grid-view_column-border .grid-view_body .grid-view-row .grid-view-cell:not(:last-child) {
  @apply border-b-0 border-gray-300;
}
.grid-view.grid-view_column-border .grid-view_totalrow .grid-view-row .grid-view-cell:not(:last-child) {
  @apply border-gray-300;
}
.grid-view.grid-view_column-border .grid-view_totalrow .grid-view-row .grid-view-cell:last-child {
  border-right: 0;
}
.grid-view.grid-view_row-border .grid-view_header .grid-view_header-cell {
  @apply border-r-0 border-gray-300;
}
.grid-view.grid-view_row-border .grid-view_body .grid-view-row .grid-view-cell {
  @apply border-b border-r-0 border-gray-300;
}
.grid-view.grid-view_row-border .grid-view_totalrow .grid-view-row .grid-view-cell {
  @apply border-gray-300;
}
.grid-view.grid-view_both-border .grid-view_header .grid-view_header-cell {
  @apply border-r border-gray-300;
}
.grid-view.grid-view_both-border .grid-view_body .grid-view-row .grid-view-cell {
  @apply border-b  border-gray-300;
}
.grid-view.grid-view_both-border .grid-view_filterrow .grid-view-cell:not(:last-child) {
  @apply border-gray-300;
}
.grid-view.grid-view_both-border .grid-view_totalrow .grid-view-row .grid-view-cell {
  @apply border-gray-300;
}
.grid-view.grid-view_stripe .grid-view_body .grid-view-row:nth-child(even) .grid-view-cell {
  @apply bg-stone-100;
}
.grid-view.grid-view_stripe .grid-view_body .grid-view-row:nth-child(even):hover .grid-view-cell {
  @apply bg-blue-100;
}
.grid-view.grid-view_nowrap .grid-view-cell {
  @apply flex-nowrap whitespace-nowrap text-ellipsis overflow-hidden;
}
.grid-view .grid-view_header-checkbox, .grid-view .grid-view_row-checkbox,
.grid-view .grid-view_row-linenumber, .grid-view .grid-view_row-linenumber {
  @apply justify-center;
}
.grid-view .grid-view-fixed-col, .grid-view .grid-view-fixed-col-right {
  @apply sticky;
}
.grid-view .grid-view_header {
  @apply overflow-hidden min-h-[40px] bg-zinc-100 flex-none relative;
}
.grid-view .grid-view_header .grid-view_header-row {
  @apply flex flex-row h-10 relative;
}
.grid-view .grid-view_header .grid-view_header-cell {
  @apply flex flex-row grow-0  h-full shrink-0 items-center px-1 bg-zinc-100 border-r border-b border-transparent;
}
.grid-view .grid-view_header.grid-view_header-hierarchy .grid-view_header-cell {
  @apply absolute h-10;
}
.grid-view .grid-view_header.grid-view_header-hierarchy .grid-view_header-cell.grid-view-fixed-col, .grid-view .grid-view_header.grid-view_header-hierarchy .grid-view_header-cell.grid-view-fixed-col-right {
  @apply sticky z-20;
}
.grid-view.grid-view_header-wrap .grid-view_header .grid-view_header-row, .grid-view.grid-view_header-wrap .grid-view_header .grid-view_header-cell {
  height: unset;
}
.grid-view .grid-view_filterrow {
  @apply flex flex-row items-center  overflow-hidden;
}
.grid-view .grid-view_filterrow .grid-view-cell {
  @apply h-10 flex flex-row grow-0 items-center px-1 bg-stone-50 border-r border-transparent shrink-0
            border-b;
}
.grid-view .grid-view_body {
  @apply flex-1 overflow-auto bg-white;
}
.grid-view .grid-view_body .grid-view_convas {
  @apply relative;
}
.grid-view .grid-view_body .grid-view-row {
  @apply flex flex-row min-h-[32px] absolute;
}
.grid-view .grid-view_body .grid-view-row .grid-view-cell {
  @apply flex flex-row  items-center px-1 bg-white border-r border-transparent shrink-0 border-b;
}
.grid-view .grid-view_body .grid-view-row .grid-view-cell.wrap-content {
  @apply flex-wrap whitespace-normal;
}
.grid-view .grid-view_body .grid-view-row:hover .grid-view-cell {
  @apply bg-blue-100 cursor-default;
}
.grid-view .grid-view_body .grid-view-row.selected .grid-view-cell {
  @apply bg-red-200  !important;
}
.grid-view .grid-view_totalrow {
  @apply overflow-hidden  border-slate-300 bg-stone-50;
}
.grid-view .grid-view_totalrow .grid-view-row {
  @apply flex flex-row;
}
.grid-view .grid-view_totalrow .grid-view-row .grid-view-cell {
  @apply h-10 flex flex-row grow-0 items-center px-1 bg-stone-50 border-r border-transparent shrink-0;
}
.grid-view .grid-view_totalrow.total-row_top .grid-view-cell {
  @apply border-b;
}
.grid-view .grid-view_totalrow.total-row_bottom .grid-view-cell {
  @apply border-t;
}
.grid-view .grid-view_pager {
  @apply h-14 items-center flex bg-white border-t border-gray-200 overflow-hidden;
}

.xin-pagination {
  @apply h-10 bg-white;
  /** 对齐 */
}
.xin-pagination .pagination-container {
  @apply flex h-full justify-end items-center;
}
.xin-pagination .pagination-container .pagination-contents {
  @apply list-none flex flex-row items-center cursor-pointer flex-nowrap;
}
.xin-pagination .pagination-container .pagination-contents li {
  @apply h-7 leading-7 whitespace-nowrap;
}
.xin-pagination .pagination-container .pagination-contents li.pagination-goto, .xin-pagination .pagination-container .pagination-contents li.pagination-total {
  @apply cursor-default;
}
.xin-pagination .pagination-container .pagination-contents li.pagination-list > select {
  @apply focus:outline-none;
}
.xin-pagination .pagination-action:not(.pagination-disabled) {
  @apply border border-gray-200 h-8 shrink-0 px-1 leading-8 rounded-md text-center hover:bg-gray-200 active:bg-gray-300;
}
.xin-pagination .pagination-number {
  @apply min-w-[28px];
}
.xin-pagination .pagination-first, .xin-pagination .pagination-prev, .xin-pagination .pagination-next, .xin-pagination .pagination-last, .xin-pagination .pagination-dots {
  @apply max-w-[28px] min-w-[28px];
}
.xin-pagination .pagination-goto_input {
  @apply focus:outline-none focus:border-blue-400 p-0 w-10 border-b border-gray-300 h-7 text-center;
}
.xin-pagination .pagination-goto_input::-webkit-inner-spin-button {
  display: none;
}
.xin-pagination .pagination-current {
  @apply bg-blue-100 text-blue-600 border-blue-200;
}
.xin-pagination .pagination-disabled {
  @apply bg-gray-50 text-gray-300 text-center cursor-not-allowed;
}
.xin-pagination.left .pagination-container {
  @apply justify-start;
}
.xin-pagination.simple-mode .pagination-action {
  @apply border-0;
}

.win11Scroll {
  overflow: overlay;
  scroll-behavior: smooth;
  /* display: flex;
  flex-direction: column; */
}

.win11Scroll::-webkit-scrollbar {
  --scroll: rgb(255 255 255 / 80%);
  --scrollbar-top-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 16.981c-1.074 0-1.648-1.265-.941-2.073l5.522-6.311a1.75 1.75 0 0 1 2.634 0l5.522 6.311c.707.808.133 2.073-.941 2.073H6.102z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
  --scrollbar-right-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 17.898c0 1.074 1.265 1.648 2.073.941l6.311-5.522a1.75 1.75 0 0 0 0-2.634l-6.311-5.522C10.265 4.454 9 5.028 9 6.102v11.796z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
  --scrollbar-bottom-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 8c-1.074 0-1.648 1.265-.941 2.073l5.522 6.311a1.75 1.75 0 0 0 2.634 0l5.522-6.311c.707-.808.133-2.073-.941-2.073H6.102z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
  --scrollbar-left-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 17.898c0 1.074-1.265 1.648-2.073.941l-6.311-5.522a1.75 1.75 0 0 1 0-2.634l6.311-5.522c.808-.707 2.073-.133 2.073.941v11.796z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
  width: 14px;
  height: 14px;
  border-radius: 7px;
}

.win11Scroll::-webkit-scrollbar:vertical:hover {
  background: var(--scrollbar-bottom-btn) 0% calc(100% - 3px)/contain no-repeat, var(--scrollbar-top-btn) 0% calc(0% + 3px)/contain no-repeat, var(--scroll);
}

.win11Scroll::-webkit-scrollbar:horizontal:hover {
  background: var(--scrollbar-right-btn) calc(100% - 3px) 0%/contain no-repeat, var(--scrollbar-left-btn) calc(0% + 3px) 0%/contain no-repeat, var(--scroll);
}

.win11Scroll.show::-webkit-scrollbar:vertical {
  background: var(--scrollbar-bottom-btn) 0% calc(100% - 3px)/contain no-repeat, var(--scrollbar-top-btn) 0% calc(0% + 3px)/contain no-repeat, var(--scroll);
}

.win11Scroll.show::-webkit-scrollbar:horizontal {
  background: var(--scrollbar-right-btn) calc(100% - 3px) 0%/contain no-repeat, var(--scrollbar-left-btn) calc(0% + 3px) 0%/contain no-repeat, var(--scroll);
}

.win11Scroll::-webkit-scrollbar-thumb {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  border: 6px solid transparent;
  border-radius: 14px;
}

.win11Scroll::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
}

.win11Scroll::-webkit-scrollbar-button:single-button {
  height: 14px;
}

.win11Scroll:hover::-webkit-scrollbar-thumb {
  display: block;
}

.win11Scroll.show::-webkit-scrollbar-thumb {
  display: block;
}

.win11Scroll::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

.win11Scroll.nobtn::-webkit-scrollbar:vertical {
  background: none;
}
.win11Scroll.nobtn::-webkit-scrollbar:horizontal {
  background: none;
}
.win11Scroll.nobtn::-webkit-scrollbar-button:single-button {
  height: 0px;
  width: 0px;
}

.xin-dialog-window {
  @apply absolute top-0 left-0 w-full h-full rounded-md transition-all origin-center flex flex-col;
  background: #f3f3f3 radial-gradient(#eff4f9 75%, #f3f3f3 100%) no-repeat fixed;
  /** 窗口内容区域 */
}
.xin-dialog-window .toolbar {
  @apply flex shrink-0 w-full h-7 relative justify-between items-center rounded-tl-md rounded-tr-md;
}
.xin-dialog-window .toolbar .icon {
  @apply relative grid place-items-center;
}
.xin-dialog-window .toolbar .title {
  @apply flex grow items-center h-full text-xs;
}
.xin-dialog-window .toolbar .title .icon {
  @apply mr-[10px] ml-[6px];
}
.xin-dialog-window .toolbar .actbtns {
  @apply flex items-center h-full;
}
.xin-dialog-window .toolbar .actbtns .icon {
  @apply h-full transition-all ease-in-out px-4 hover:bg-gray-200;
}
.xin-dialog-window .toolbar .actbtns .icon.close {
  @apply hover:bg-red-400 rounded-tr-md;
}
.xin-dialog-window .toolbar .actbtns .icon.close:hover img {
  filter: invert(1);
}
.xin-dialog-window .toolbar .actbtns .icon:active img {
  @apply transition-all duration-100 ease-in-out;
  transform: scale(0.7);
}
.xin-dialog-window .windowContent {
  @apply flex-1 mt-1 overflow-hidden;
}
.xin-dialog-window .windowFooter {
  @apply h-14 flex items-center;
}
.xin-dialog-window.closing {
  transform: scale(0.8);
  opacity: 0;
  pointer-events: none;
}

/*# sourceMappingURL=index.css.map */
