$border-color: border-gray-300;


.grid-view {
    @apply flex flex-col h-full text-sm relative border border-transparent bg-white text-[13px];

    .grid-view_menu-btn {
        @apply absolute h-9 bg-zinc-100 right-0 z-10;
    }


    &.grid-view_border {
        @apply #{$border-color};        
    }

    &.grid-view_column-border {
        .grid-view_header {
            &.grid-view_header-hierarchy {
                .grid-view_header-cell {
                    @apply border-b  #{$border-color};
                }
            }
            .grid-view_header-cell {
                @apply  #{$border-color};
            }

            .grid-view_header-cell:last-child {
                border-right: 0;
            }
        }

        .grid-view_filterrow {
            .grid-view-cell:not(:last-child) {
                @apply #{$border-color};
            }
        }

        .grid-view_body {
            .grid-view-row {
                .grid-view-cell:not(:last-child) {
                    @apply border-b-0 #{$border-color};
                }
            }
        }

        .grid-view_totalrow {
            .grid-view-row {
                .grid-view-cell:not(:last-child) {
                    @apply #{$border-color};
                }
                .grid-view-cell:last-child {
                    border-right: 0
                }
            }
        }
    }

    &.grid-view_row-border {
        .grid-view_header {
            .grid-view_header-cell {
                @apply border-r-0 #{$border-color};
            }
        }

        .grid-view_body {
            .grid-view-row {
                .grid-view-cell {
                    @apply border-b border-r-0 #{$border-color};
                }
            }
        }
        .grid-view_totalrow {
            .grid-view-row {
                .grid-view-cell {
                    @apply #{$border-color};
                }
            }
        }
    }

    &.grid-view_both-border {
        .grid-view_header {
            .grid-view_header-cell {
                @apply border-r #{$border-color};
            }
        }

        .grid-view_body {
            .grid-view-row {
                .grid-view-cell {
                    @apply border-b  #{$border-color};
                }
            }
        }

        .grid-view_filterrow {
            .grid-view-cell:not(:last-child) {
                @apply #{$border-color};
            }
        }

        .grid-view_totalrow {
            .grid-view-row {
                .grid-view-cell {
                    @apply #{$border-color};
                }
            }
        }
    }

    /** 斑马条纹，隔行变色 */
    &.grid-view_stripe {
        .grid-view_body {
            .grid-view-row:nth-child(even) {
                .grid-view-cell {
                    @apply bg-stone-100;
                }

                &:hover {
                    .grid-view-cell {
                        @apply bg-blue-100;
                    }
                }
            }
        }
    }


    &.grid-view_nowrap {
        .grid-view-cell {
            @apply flex-nowrap whitespace-nowrap text-ellipsis overflow-hidden;
        }
    }

    .grid-view_header-checkbox, .grid-view_row-checkbox,
    .grid-view_row-linenumber, .grid-view_row-linenumber {
        @apply justify-center
    }

    .grid-view-fixed-col, .grid-view-fixed-col-right {
        @apply sticky;
    }
   

    .grid-view_header {
        @apply overflow-hidden min-h-[40px] bg-zinc-100 flex-none relative;

        .grid-view_header-row {
            @apply flex flex-row h-10 relative;
        }

        .grid-view_header-cell {
            @apply flex flex-row grow-0  h-full shrink-0 items-center px-1 bg-zinc-100 border-r border-b border-transparent;
        }

        &.grid-view_header-hierarchy {
            .grid-view_header-cell {
                @apply absolute h-10;

                &.grid-view-fixed-col, &.grid-view-fixed-col-right {
                    @apply sticky z-20;
                }
            }
        }
    }

    &.grid-view_header-wrap {
        .grid-view_header {
            .grid-view_header-row, .grid-view_header-cell {
                height: unset;
            }
        }
    }

    /** 过滤行 */
    .grid-view_filterrow {
        @apply   flex flex-row items-center  overflow-hidden;
        .grid-view-cell {
            @apply h-10 flex flex-row grow-0 items-center px-1 bg-stone-50 border-r border-transparent shrink-0
            border-b;
        }
    }

    .grid-view_body {
        @apply flex-1 overflow-auto bg-white;

        .grid-view-row {
            @apply flex flex-row min-h-[32px];
            .grid-view-cell {
                @apply  flex flex-row  items-center px-1 bg-white border-r border-transparent shrink-0 border-b;

                &.wrap-content {
                    @apply flex-wrap whitespace-normal;
                }
            }

            &:hover {
                .grid-view-cell {
                    @apply bg-blue-100 cursor-default;
                }
            }

            &.selected {
                .grid-view-cell {
                    @apply bg-red-200  #{!important};
                }
            }
        }
    }

    .grid-view_totalrow {
        @apply overflow-hidden  border-slate-300 bg-stone-50;
        .grid-view-row {
            @apply flex flex-row;
            .grid-view-cell {
                @apply h-10 flex flex-row grow-0 items-center px-1 bg-stone-50 border-r border-transparent shrink-0;
            }
        }

        &.total-row_top {
            .grid-view-cell {
                @apply border-b
            }
        }
        &.total-row_bottom {
            .grid-view-cell {
                @apply border-t
            }
        }
    }

    .grid-view_pager {
        @apply h-14 items-center flex bg-white border-t border-gray-200 overflow-hidden;
    }
    
}
